*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.sec{
  width: 100%;
  height: 100vh;
  position: relative;
  background: #0062be;
  z-index: 1;
  overflow: hidden;
}

/****Circle design****/
.circle1{
  position: absolute;
  width: 50%;
  height: 60%;
  background: #e60c2c;
  right: -150px;
  top: 0;
  z-index: 2;
  border-bottom-left-radius: 100% 100%;
}

.circle2{
  position: absolute;
  width: 35%;
  height: 50%;
  background: #e60c2c;
  left: -100px;
  bottom: 0;
  z-index: 2;
  border-top-right-radius: 100% 100%;
}

/****Header****/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  z-index: 3
}

header .logo{
  width: 90px;
  cursor: pointer;
}

header nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

header nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: .5s;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

header nav ul li a:hover{
  color: #0062be;
}

/****Content****/
.content{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 25px 0;
  height: 80vh;
}

.content h2{
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1.5px;
  font-family: 'Comfortaa', cursive;
}

.content h2:after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60px;
  height: 10px;
  background: #e60c2c;
  border-bottom-right-radius: 15px 10px;
}

.content .banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  position: relative;
}

.content .banner .product{
  flex-basis: 26%;
  height: 350px;
  position: relative;
  background: transparent;
  margin: 0 10px;
  overflow: hidden;
  z-index: 4;
  border-radius: 15px;
}

.content .banner .product .productimg{
  width: 68%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

.content .banner .product:hover .productimg{
  transform: translate(-50%, -50%) scale(1.5);
}

.content .banner .product .producttext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  width: 70%;
  z-index: 10;
  text-align: center;
  transition: .8s;
}

.content .banner .product:hover .producttext{
  transform: translate(-50%, -50%);
}

.content .banner .product .producttext p{
  font-size: 24px;
  color: #111;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Comfortaa', cursive;
}

.content .banner .product .producttext .productlink{
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  border: 0;
  border-radius: 30px;
  background: #fff;
  color: #111;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .5s;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Comfortaa', cursive;
}

.content .banner .product .producttext .productlink:hover{
  letter-spacing: 1.5px;
  font-weight: 900;
}

.content .banner .product:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  background: rgba(255, 255, 255, 0.6);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  transition: .8s;
  z-index: 2;
}

.content .banner .product:nth-child(3):after{
  background: #fff;
  opacity: 0.7;
}

.content .banner .product:nth-child(2):after{
  background: red;
  opacity: 0.7;
}

.content .banner .product:nth-child(1):after{
  background: #0062be;
  opacity: 0.7;
}

/****Social media icons****/
.social{
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  justify-content: center;
  z-index: 5;
  text-align: center;
}

.social .fa{
  width: 35px;
  margin-bottom: 18px;
  cursor: pointer;
  color: #fff;
  transition: .5s;
}

.social .fa:hover{
  color: #0062be;
}

.content .banner .product:hover:after{
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 700px){
  .content .banner .product{
    flex-basis: 52%;
    margin: 10px 0;
    padding: 30px 0;
  }

  .content .banner .product .productimg{
    width: 90%;
    height: 100%;
  }

  .content .banner{
    justify-content: center;
    height: 80vh;
    margin-top: 160px;
    margin-bottom: 50px;
  }

  .sec{
    overflow: auto;
  }

  .circle2{
    position: fixed;
  }

  header nav ul li{
    margin-right: 10px;
  }

  header nav ul li a{
    font-size: 12px;
  }

  .circle1{
    width: 55%;
    height: 45%;
    right: -100px;
  }
  
  .circle2{
    width: 40%;
    height: 45%;
    left: -90px;
  }

  .content h2{
    font-size: 20px;
    
  }
  
  .content h2:after{
    width: 60px;
    height: 6px;
    border-bottom-right-radius: 15px 6px;
  }

  .social .fa:hover{
    color: #e60c2c;
  }

  header nav ul li a:hover{
    color: #c4d0db;
  }

  .content .banner .product .producttext .productlink:hover{
    letter-spacing: 1.1px;
    font-weight: 900;
  }
}                      